button:focus {
	outline: 0 !important;
}

.clear {
	clear: both;
}

.modal-content {
	display: none;
}

.no_right_padding {
	padding-right: 0;
}

.ajax-notice {
	display: none;
	margin-bottom: 10px;
	text-align: center;
}

.starter-template {
  padding: 0px 15px;
  text-align: center;
}

.hidden {
	display: none;
}

.inline-edit, .mass-actions {
	display: none;
}

.modal {
	position: absolute;
}

.modal-body {
	overflow-y: scroll;
	max-height: 500px;
}

.modal-content .select2-container {
	width: 400px !important;
}

.modal-content .select2-container--default .select2-selection__choice {
	background-color: #337ab7;
	border: none;
	color: #fff;
}

.modal-content .select2-container--default .select2-selection__choice .select2-selection__choice__remove {
	color: #fff;
}

.modal-content .select2-container--default .select2-selection__choice .select2-selection__choice__remove:hover {
	color: #d9534f;
}

.growl {
	opacity: 1.0;
	filter: alpha(opacity=100);
	min-width: 200px;
	min-height: 75px;
}

.growl.growl-error {
	background: #d9534f;
}

.growl.growl-notice {
	background: #5cb85c;
}

.growl.growl-warning {
	background: #f0ad4e;
}

.header button {
	margin-top: 20px;
}

.title, .story, .buttons {
	text-align: left;
}

.story, .buttons button, .location {
	font-size: 18px;
}

.story-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

#content-area .state-container {
	text-align: left;
}

#content-area .state-controls .state-button {
	width: 175px;
	margin-left: 5px;
	float: left;
}

#content-area .state-controls .state-button:first-child {
	margin-left: 0;
}

#content-area .state-controls .state-button button {
	width: 100%;
}

.buttons {
	margin-bottom: 5px;
}

.player-data > div > div.stat-label,
.player-data > div > div.value {
	float: left;
	font-size: 14px;
}

.player-data > div > div.stat-label {
	font-weight: bold;
	text-align: right;
	width: 70px;
}

.player-data > div > div.value {
	margin-left: 5px;
}

.last-action-message {
	text-align: left;
}

.location {
	text-align: left;
	margin-bottom: 10px;
}

.map-container .map-buttons,
.map-container .map {
	float: left;
}

.map-container .map-buttons {
	width: 220px;
}

.map-container .map-buttons .map-button-cluster {
	margin-top: 100px;
}

.map-container .map-buttons .map-button-cluster button {
	display: inline-block;
}

.map-container .map-buttons .map-button-cluster button.up,
.map-container .map-buttons .map-button-cluster button.down {
	margin: auto;
	width: 140px;
}

.map-container .map-buttons .map-button-cluster button.left .mid-buttons {
	margin: auto;
}

.map-container .map-buttons .map-button-cluster button.left,
.map-container .map-buttons .map-button-cluster button.right {
	width: 100px;
}

.map-container .map {
	width: 300px;
	margin-left: 20px;
}

.file-upload {
	visibility: hidden;
}