body {
	background-image: url('../img/silver_scales.png');
	background-attachment: fixed;
}

button:focus {
	outline: none !important;
}

#loading {
	margin: auto;
	width: 74px;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

.row {
	/*margin-right: 15px;
	margin-left: 15px;*/
	margin-right: 0px;
	margin-left: 0px;
}

.clear {
	clear: both !important;
}

.no-left-padding {
	padding-left: 0 !important;
}

.no-right-padding {
	padding-right: 0 !important;
}

.with-left-padding {
	padding-left: 15px !important;
}

.with-right-padding {
	padding-right: 15px !important;
}

.leftcol, .rightcol, .centercol {
	padding: 0px;
}

.leftcol, .rightcol {
	margin-left: 0px;
	margin-right: 0px;
}

.centercol {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

.negative {
	color: #d9534f;
}

.positive {
	color: #5cb85c;
}

.desc {
	font-style: italic;
	margin-bottom: 10px;
}

.no_right_padding {
	padding-right: 0;
}

.ajax-notice {
	display: none;
	margin-bottom: 10px;
	text-align: center;
}

.hidden {
	display: none;
}

.modal {
	position: absolute;
}

.modal-body {
	overflow-y: scroll;
	max-height: 500px;
}
.small {
	font-size: 12px;
}

.growl {
	opacity: 1.0;
	filter: alpha(opacity=100);
	min-width: 200px;
	min-height: 75px;
}

.growl.growl-error {
	background: #d9534f;
}

.growl.growl-notice {
	background: #5cb85c;
}

.growl.growl-warning {
	background: #f0ad4e;
}

/*.header-area,
.content-area,
.log-area {

}*/

.saved-notice{
	display: block;
	margin-top: 22px;
	text-align: right;
	font-weight: bold;
	color: #5cb85c;
}

.main-content-row {
	min-height: 200px;
}

.title-row button {
	margin-top: 15px;
}

.header {
	margin-right: 0px;
	margin-left: 0px;
}

.header button {
	margin-top: 20px;
}

.player-stats {
	margin: 15px 0px;
	padding: 10px 0px;
	background-color: #ECECEC;
}

.player-stats .stat-label,
.player-stats .stat-value {
	width: 40px;
	text-align: left;
}

.player-stats .stat-label {
	font-weight: bold;
}

.player-stats .stat-value {
	margin-left: 5px;
}

.player-stats .col-md-1 {
	padding: 0;
	text-align: left;
}

.content-area {
	margin-top: 10px;
}

.story, .buttons button, .location {
	font-size: 18px;
}

.story-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.content-area .state-container {
	padding: 0;
}

.content-area .state-container .state-info {
	padding: 15px;
	background-color: #F0ECE6;
}

.content-area .state-controls {
	overflow: auto;
}

.content-area .state-controls .state-button-col {
	float: left;
}

.content-area .state-controls .state-button-row {
	overflow: auto;
}

.content-area .state-controls .state-button-row:not(:first-child) {
	margin-top: 5px;
}

.content-area .state-controls .state-button {
	width: 175px;
	margin-left: 5px;
	float: left;
}

.content-area .state-controls .state-button:first-child {
	margin-left: 0;
}

.content-area .state-controls .state-button button {
	width: 100%;
}

.content-area .player-controls {
	overflow: auto;
	background-color: #F0ECE6;
	padding: 10px;
}

.content-area .player-controls .state-button-col .state-button-row h3 {
	margin: 0;
}

.content-area .player-controls .state-button-col.player-skills {
	margin-top: 10px;
}

.message-log {
	margin-top: 15px;
	padding: 15px;
	background-color: #ECECEC;
	overflow-y: scroll;
	height: 185px;
}

.message-log:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
  width    : 100%;
  height   : 20px;
}

.inventory .message-log {
	width: 475px;	
}

.buttons {
	margin-bottom: 5px;
}

.player-data > div > div.stat-label,
.player-data > div > div.value {
	float: left;
	font-size: 14px;
}

.player-data > div > div.stat-label {
	font-weight: bold;
	text-align: right;
	width: 70px;
}

.player-data > div > div.value {
	margin-left: 5px;
}

.location {
	text-align: left;
	margin-top: 10px;
}

.last-action-message {
	margin-top: 10px;
	text-align: left;
}

.map-buttons {
	/*background-color: #E7E6F0;*/
	/*overflow: auto;*/
}

.map-buttons .map-button-cluster {
	width: 200px;
	margin: auto;
	/*background-color: #b8b8c1;*/
	background-color: #EDEEF7;
	overflow: auto;
	padding-bottom: 10px;
	/* box-shadow: 0px 2px 10px 2px #0C1762;
	box-shadow: 1px 1px 7px 2px #A2A2A2;
	box-shadow: inset 0px 1px 8px 1px rgba(0,0,0,0.75);
	#6F6F6F
	rgba(0,0,0,0.5) */

}

.map-buttons .map-button-cluster h3 {
	width: 162px;
	margin-left: auto;
	margin-right: auto;
}

.map-buttons .map-button-cluster button {
	display: inline-block;
}

.map-buttons .map-button-cluster button.up,
.map-buttons .map-button-cluster button.down {
	display: block;
	margin: auto;
	width: 102px;
}

.map-buttons .map-button-cluster button.up {
	margin-top: 10px;
}

.map-buttons .map-button-cluster .mid-buttons {
	margin: 2px auto;
	width: 132px;
}

.map-buttons .map-button-cluster button.left,
.map-buttons .map-button-cluster button.right {
	width: 64px;
}

.map-buttons .arrow-keys-checkbox {
	margin-top: 7px;
	margin-left: auto;
	margin-right: auto;
	width: 140px;
}

.map-buttons .arrow-keys-checkbox input{
	margin-right: 5px;
	padding-left: 35px;
}

.map-level-num {
	text-align: left;
	margin: auto;
	width: 230px;
}

.map-container {
	background-color: #E7E6F0;
	padding: 10px;
}

.map-container h3 {
	margin: 0 0 10px 0;
}

.map {
	width: 304px;
	height: 304px;
	border: #6e6e73 2px solid;
	margin: 0 auto 7px auto;
}

.equipment h3,
.container-ui h3,
.inventory h3,
.merchant h3,
.map-buttons h3,
.known-skills h3,
.available-skills h3 {
	padding-left: 0px;
	margin-top: 8px;
}

.inventory,
.container-ui,
.equipment,
.merchant,
.known-skills,
.available-skills {
	padding-left: 0;
	padding-right: 0;
}

.inventory .lines .line,
.container-ui .container-ui-inner-container,
.merchant .container-ui-inner-container,
.known-skills .lines,
.available-skills .lines {
	background-color: #F0ECE6;
}

.equipment .equipment-inner-container {
	background-color: #E7E6F0;
}

.inventory .line,
.container-ui .line,
.equipment .line,
.merchant .line,
.known-skills .line,
.available-skills .line {
	padding: 5px 10px 5px 10px;
}

.inventory .line.section-header,
.container-ui .line.section-header,
.merchant .line.section-header,
.known-skills .line.section-header,
.available-skills .line.section-header {
	font-weight: bold;
}

.inventory .line.empty.section-header {
	background-color: rgba(1,1,1,0);
}

.known-skills .line.empty,
.available-skills .line.empty {
	font-style: italic;
}

.inventory .line:not(.empty),
.container-ui .line:not(.empty),
.equipment .line:not(.empty),
.merchant .line:not(.empty),
.known-skills .line:not(.empty),
.available-skills .line:not(.empty) {
	cursor: pointer;
}

.inventory .line:not(.empty):hover,
.inventory .line:not(.empty).selected,
.container-ui .line:not(.empty):hover,
.container-ui .line:not(.empty).selected,
.merchant .line:not(.empty):hover,
.merchant .line:not(.empty).selected,
.known-skills .line:not(.empty):hover,
.known-skills .line:not(.empty).selected,
.available-skills .line:not(.empty):hover,
.available-skills .line:not(.empty).selected {
	background-color: #EDC78E;
}

.equipment .line:not(.empty):hover,
.equipment .line:not(.empty).selected {
	background-color: #C5C2DB;
}

.inventory .line:not(.empty):active,
.container-ui .line:not(.empty):active,
.merchant .line:not(.empty):active,
.known-skills .line:not(.empty):active,
.available-skills .line:not(.empty):active {
	background-color: #F6D8AC;
}

.equipment .line:not(.empty):active {
	background-color: #9389EB;
}

.inventory .qty,
.container-ui .qty,
.merchant .qty,
.known-skills .level,
.available-skills .level {
	float: right;
	clear: both;
}

.equipment .slot {
	display: inline-block;
	font-weight: bold;
	width: 90px;
}

.equipment .item {
	display: inline-block;
}

.item-desc .inner,
.skill-desc .inner {
	background-color: #ECECEC;
	/*background-color: #F0ECE6;*/
	padding: 5px 10px 5px 10px;
	margin: 10px 0px 0px 0px;
}

.item-desc .inner.equipped,
.skill-desc .inner.known {
	background-color: #E7E6F0;
}

.item-desc button.inventory-control,
.skill-desc button.skill-control {
	margin-top: 10px;
	font-size: 12px;
}

.item-desc button.inventory-control {
	width: 168px;
}

.item-desc .line .stat,
.skill-desc .line .stat {
	font-weight: bold;
	line-height: 14px;
}

.item-desc .back,
.skill-desc .back {
	float: left;
}

.item-desc .take-all {
	float: right;
	clear: right;
}

.equipment {
	padding-left: 0px;
}

.danger {
	color: #FF0000;
}

.main-content-row .combat {
	margin-top: 25px;
	margin-bottom: 25px;
}

.combat-buttons {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
}

.combat-buttons .line {
	margin-bottom: 10px;
}

.combat-buttons .line button {
	margin-bottom: 0px;
}

.combat-buttons .line span {
	display: block;
	margin-top: 3px;
}

.combat .header {
	font-size: 20px;
	font-weight: bold;
}

.combat .stat {
	display: inline-block;
	font-weight: bold;
	width: 90px;
}

.combat.enemy {
	background-color: #FFF5F5;
}
.combat.player {
	background-color: #DDEDDD;
}

.full-screen-notice {
	margin-top: 20px;
	margin-bottom: 20px;
}

.full-screen-notice .notice-text {
	margin-bottom: 15px;
	text-align: center;
}

.full-screen-notice .notice-button {
	text-align: center;
}

#skills-area .stat {
	width: 120px;
}

#skills-area .player {
	padding-left: 0;
}

#skills-area .back {
	margin-bottom: 20px;
}

.full-screen-row .col-md-12,
.log-row .col-md-12{
	padding-left: 0px;
	padding-right: 0px;
}

.file-upload {
	visibility: hidden;
}

.x-wide-center {
	width: 500px;
	margin-left: -75px;
}