button:focus {
	outline: none !important;
}

.clear {
	clear: both;
}

.modal-content {
	display: none;
}

.no_right_padding {
	padding-right: 0;
}

.ajax-notice {
	display: none;
	margin-bottom: 10px;
	text-align: center;
}

.starter-template {
  padding: 0px 15px;
  text-align: center;
}

.hidden {
	display: none;
}

.inline-edit, .mass-actions {
	display: none;
}

.modal {
	position: absolute;
}

.modal-body {
	overflow-y: scroll;
	max-height: 500px;
}

.modal-content .select2-container {
	width: 400px !important;
}

.modal-content .select2-container--default .select2-selection__choice {
	background-color: #337ab7;
	border: none;
	color: #fff;
}

.modal-content .select2-container--default .select2-selection__choice .select2-selection__choice__remove {
	color: #fff;
}

.modal-content .select2-container--default .select2-selection__choice .select2-selection__choice__remove:hover {
	color: #d9534f;
}

.growl {
	opacity: 1.0;
	filter: alpha(opacity=100);
	min-width: 200px;
	min-height: 75px;
}

.growl.growl-error {
	background: #d9534f;
}

.growl.growl-notice {
	background: #5cb85c;
}

.growl.growl-warning {
	background: #f0ad4e;
}

.header button {
	margin-top: 20px;
}

.title, .story, .buttons {
	text-align: left;
}

.player-stats {
	margin-top: 10px;
	padding: 10px;
	background-color: #ECECEC;
}

.player-stats .stat-label,
.player-stats .stat-value {
	width: 40px;
	text-align: left;
}

.player-stats .stat-label {
	font-weight: bold;
}

.player-stats .stat-value {
	margin-left: 5px;
}

.player-stats .col-md-1 {
	padding: 0;
	text-align: left;
}

#content-area {
	margin-top: 10px;
}

.story, .buttons button, .location {
	font-size: 18px;
}

.story-row {
	margin-top: 20px;
	margin-bottom: 20px;
}

#content-area .state-container {
	padding: 0;
	text-align: left;
}

#content-area .state-container .state-info {
	padding: 15px;
	text-align: left;
	background-color: #F0ECE6;	
}

#content-area .state-controls {
	overflow: auto;
	margin-top: 20px;
}

#content-area .state-controls .state-button-row {
	overflow: auto;
}

#content-area .state-controls .state-button-row:not(:first-child) {
	margin-top: 5px;
}

#content-area .state-controls .state-button {
	width: 175px;
	margin-left: 5px;
	float: left;
}

#content-area .state-controls .state-button:first-child {
	margin-left: 0;
}

#content-area .state-controls .state-button button {
	width: 100%;
}

.message-log {
	margin-top: 15px;
	padding: 15px;
	background-color: #ECECEC;
	width: 570px;
	overflow-y: scroll;
	height: 185px;
}

.message-log:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
  width    : 100%;
  height   : 20px;
}

#inventory-equipment .inventory .message-log {
	width: 475px;	
}

.buttons {
	margin-bottom: 5px;
}

.player-data > div > div.stat-label,
.player-data > div > div.value {
	float: left;
	font-size: 14px;
}

.player-data > div > div.stat-label {
	font-weight: bold;
	text-align: right;
	width: 70px;
}

.player-data > div > div.value {
	margin-left: 5px;
}

.location {
	text-align: left;
	margin-top: 10px;
}

.last-action-message {
	margin-top: 10px;
	text-align: left;
}

.map-container {
	/*background-color: #DEDDED;*/
	padding: 0;
	/*margin-left: 10px;*/
}

.map-container .map-buttons,
.map-container .map {
	float: left;
}

.map-container .map-buttons {
	width: 210px;
	margin-left: 15px;
	margin-right: 15px;
}

.map-container .map-level-num {
	text-align: left;
}

.map-container .map-buttons .map-button-cluster {
	margin-top: 100px;
}

.map-container .map-buttons .map-button-cluster button {
	display: inline-block;
}

.map-container .map-buttons .map-button-cluster button.up,
.map-container .map-buttons .map-button-cluster button.down {
	margin: auto;
	width: 140px;
}

.map-container .map-buttons .map-button-cluster button.left .mid-buttons {
	margin: auto;
}

.map-container .map-buttons .map-button-cluster button.left,
.map-container .map-buttons .map-button-cluster button.right {
	width: 100px;
}

.map-container .map-buttons .arrow-keys-checkbox {
	text-align: left;
	margin-top: 40px;
}

.map-container .map-buttons .arrow-keys-checkbox input{
	margin-right: 5px;
}

.map-container .map-spacer {
	width: 10px;
	height: 200px;
	float: left;
}

.map-container .map-inner-container {
	background-color: #E7E6F0;
	padding: 15px 10px 15px 0;
	float: left;
	width: 560px;
}

.map-container .map {
	width: 304px;
	height: 304px;
	margin-left: 0px;
	border: #6e6e73 2px solid;
}

#inventory-equipment,
#skills-area,
#combat-area,
#full-screen-notice {
	display: none;
}

#inventory-equipment .back,
#skills-area .back {
	margin-top: 20px;
}

#inventory-equipment .back .col-md-12,
#skills-area .back .col-md-12 {
	padding-left: 0;
}

#inventory-equipment {
	text-align: left;
}

#inventory-equipment .header .equipment-header,
#inventory-equipment .header .container-ui-header,
#inventory-equipment .header .inventory-header,
#inventory-equipment .header .merchant-header {
	padding-left: 0px;
}

#inventory-equipment .inventory,
#inventory-equipment .container-ui,
#inventory-equipment .equipment,
#inventory-equipment .merchant {
	padding-left: 0;
	padding-right: 0;
}

#inventory-equipment .inventory .lines,
#inventory-equipment .container-ui,
#inventory-equipment .merchant {
	background-color: #F0ECE6;
}

#inventory-equipment .equipment {
	background-color: #E7E6F0;
}

#inventory-equipment .inventory .line,
#inventory-equipment .container-ui .line,
#inventory-equipment .equipment .line,
#inventory-equipment .merchant .line {
	padding: 5px 10px 5px 10px;
}

#inventory-equipment .inventory .line:not(.empty),
#inventory-equipment .container-ui .line:not(.empty),
#inventory-equipment .equipment .line:not(.empty),
#inventory-equipment .merchant .line:not(.empty) {
	cursor: pointer;
}

#inventory-equipment .inventory .line:not(.empty):hover,
#inventory-equipment .inventory .line:not(.empty).selected,
#inventory-equipment .container-ui .line:not(.empty):hover,
#inventory-equipment .container-ui .line:not(.empty).selected,
#inventory-equipment .merchant .line:not(.empty):hover,
#inventory-equipment .merchant .line:not(.empty).selected {
	background-color: #EDC78E;
}

#inventory-equipment .equipment .line:not(.empty):hover,
#inventory-equipment .equipment .line:not(.empty).selected {
	background-color: #C5C2DB;
}

#inventory-equipment .inventory .line:not(.empty):active,
#inventory-equipment .container-ui .line:not(.empty):active,
#inventory-equipment .merchant .line:not(.empty):active {
	background-color: #F6D8AC;
}

#inventory-equipment .equipment .line:not(.empty):active {
	background-color: #9389EB;
}

#inventory-equipment .inventory .qty,
#inventory-equipment .container-ui .qty,
#inventory-equipment .merchant .qty {
	float: right;
	clear: both;
}

#inventory-equipment .equipment .slot {
	display: inline-block;
	font-weight: bold;
	width: 90px;
}

#inventory-equipment .equipment .item {
	display: inline-block;
}

#inventory-equipment .item-desc .inner{
	background-color: #ECECEC;
	padding: 5px 10px 5px 10px;
	margin: 0;
}

#inventory-equipment .item-desc button.inventory-control {
	width: 115px;
	margin-top: 10px;
}

#inventory-equipment .item-desc .line .stat {
	font-weight: bold;
	line-height: 14px;
}

#inventory-equipment .equipment {
	padding-left: 0px;
}

#inventory-equipment .danger {
	color: #FF0000;
}


#combat-area,
#skills-area {
	margin-top: 40px;
	text-align: left;
}

#combat-area .notice-text {
	margin-bottom: 20px;
}

#combat-area .header,
#skills-area .header {
	font-size: 20px;
	font-weight: bold;
}

#combat-area .stat,
#skills-area .stat {
	display: inline-block;
	font-weight: bold;
	width: 90px;
}

#combat-area .value,
#skills-area .value {
	display: inline-block;
}

#combat-area > .row > .player,
#combat-area > .row > .enemy {
	width: 570px;
	height: 140px;
}

#combat-area .player .buttons {
	margin-top: 10px;
}

#full-screen-notice {
	margin-top: 40px;
}

#full-screen-notice .notice-text {
	margin-bottom: 20px;
}

#full-screen-notice .notice-button {
	
}

#skills-area .stat {
	width: 120px;
}

#skills-area .player {
	padding-left: 0;
}

#skills-area .back {
	margin-bottom: 20px;
}

.file-upload {
	visibility: hidden;
}